.toggle-button {
    width:400px;
    display:inline-flex;
    height:60%;
    padding-left:15px;
}

.toggle-button button {
    background-color:#ecf0f1;
    font-size: 18px;
    width:100%;
    padding:0;
    border-radius: 50px;
    border: none;
    height: 100%
}

.toggle-button div {
    display:inline-flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.button-left{
    background-color: #3498db;
    border-radius:50px;
    color:white;
}

.button-right{
    color:#bfc5c9;
}
