* {box-sizing:border-box;}

.sidebar {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: #34495e;
    color: #adb6be
}

.sidebar-nav {
    height: 85%;
}

.sidebar-nav nav {
    height: 50%;
}

.sidebar-nav ul {
    display: block;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav ul li {
    display:block;
    height: 12.5%;
    font-weight: bold;
    width:100%;
    padding-top: 15px;
    padding-left: 15px;
    
}

.sidebar-nav ul li:hover {
    background-color: #2c3e50;
    border-left: 3px solid #3498db;
    color: white;
}

.logo {
    display: flex;
    height: 65px;
    width:100%;
    border-bottom: 3px solid #2d3e51;
    color: white;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.logo p {
    margin: 0;
}

.sidebar-bottom-container{
    display: flex;
}

.side-bar-bottom{
    justify-content: space-between;
    display: inline-flex;
    height: 100%;
    width: 100%;
}