h2{
    color:black;
}
.top-bar{
    height:100%;
    width:100%;
    color: #d1d5d8;
    border-bottom: 3px solid #d2d7da; 
    background-color: white;
}

.top-bar ul{
    list-style-type: none;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    display: flex;
}

.left {
    width:35%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-left: 30px;
    margin-right:50px;
}

.middle {
    width:15%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 140px;
    
}

.right {
    width:45%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 30px;
    padding-left: 80px;
}

.top-bar ul li button {
    font-size: 20px;
    padding: 9px 25px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    color:white;
    outline: none; 
}
